body {
  font-family: monospace;
  margin: 0;
  padding: 1rem;
}

#console {
  max-height: 420px;
  overflow-y: auto;
  border: 1px solid #777;
  border-radius: 8px;
}

.cm-editor {
  .cm-content,
  .cm-gutter {
    min-height: 150px;
  }
  .cm-gutters {
    margin: 1px;
  }
  .cm-scroller {
    overflow: auto;
  }
  .cm-wrap {
    border: 1px solid silver;
  }
}
